.stats {
    padding: 4rem 0;
    background: #f3f4f6;
  }
  .stats-conatiner{
    background-color: #f3f4f6;
    padding: 0.1rem;
  }
  .stats-grid {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    margin: 6rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    text-align: center;
  }
  
  .stat-item h3 {
    font-size: 2rem;
    color: #2563eb;
    margin-bottom: 0.5rem;
  }
  .stat-number {
    font-weight: 700;
    font-size: xxx-large;
  }
  .partion {
    font-weight: 700;
    font-size: x-large;
    display: flex;
    align-items: center;
    color: #FFB84C;
  }