.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

.hero-text {
  display: flex;
  display: flex;
  margin-top: 6%;
  margin-left: 15%;
}

.hero-text h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

.hero-text .highlight {
  color: #ffffff;
  background-color: #000000;
  padding: 0.1rem 1.2rem;
  border-radius: 38%;
}


.hero-text p {
  font-size: 1.2rem;
  margin: 0 0 2rem;
  display: flex;
}

.enroll-button {
  padding: 1.2rem 1.6rem;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  max-width: 50%;
  
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 80%;
  height: auto;
  background-color: #f5c78c;
  border-radius: 10px;
}
.description {
  display: grid;
  margin-left: 25%;
  gap: 50%;
}